plot_embedding_scatter_0.01.png
f.csv
authorCluster.csv
a.csv
A_list_company_0.01.dat
A_list_0.005.dat
A_list_0.01.dat
A_list_company_new_0.01.dat
A_list_new_company_0.01.dat
F_list.dat
F_list_0.005.dat
F_list_0.01.dat
F_list_company_0.01.dat
F_list_company_new_0.01.dat
F_list_new_company_0.01.dat
S.dat
S_0.005.dat
S_0.01.dat
S_company_0.01.dat
S_company_new_0.01.dat
S_new_company_0.01.dat
a_list.dat
attributeslist_0.01.dat
proces/temporal/nodeslist_2009.csv
proces/temporal/nodeslist_2005.csv
proces/temporal/nodeslist_2006.csv
proces/temporal/nodeslist_2007.csv
proces/temporal/nodeslist_2008.csv
proces/temporal/nodeslist_2010.csv
proces/temporal/nodeslist_2011.csv
proces/temporal/nodeslist_2012.csv
proces/temporal/nodeslist_2013.csv
proces/temporal/year_2005.csv
proces/temporal/year_2006.csv
proces/temporal/year_2007.csv
proces/temporal/year_2008.csv
proces/temporal/year_2009.csv
proces/temporal/year_2010.csv
proces/temporal/year_2011.csv
proces/temporal/year_2012.csv
proces/temporal/year_2013.csv
